.container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  
  .left-section {
    width: 50%;
    background: #042951;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .left-section .highlight {
    color: orange;
  }
  
  .left-section img {
    width: 150px;
    margin-top: 20px;
  }
  
  
  .right-section {
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .right-section h2 {
    color: #333;
  }
  
  .right-section p {
    font-size: 14px;
    color: gray;
  }
  
  .right-section input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .right-section button {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    background: #063465;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .right-section button:hover {
    background: #0056b3;
  }
  
  .right-section a {
    color: #007bff;
    text-decoration: none;
  }